<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u_n_v.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Genres.JazzActivity"
            android:label="Jazz" />
        <activity
            android:name=".Genres.AlternativeRock"
            android:label="Alternative Rock" />
        <activity
            android:name=".Genres.Country"
            android:label="Country" />
        <activity
            android:name=".Genres.PopRock"
            android:label="Pop Rock" />
        <activity
            android:name=".Artists.AlternativeRockArtists.GreenDay"
            android:label="Green Day" />
        <activity
            android:name=".Artists.AlternativeRockArtists.PearlJam"
            android:label="Pearl Jam" />
        <activity
            android:name=".Artists.AlternativeRockArtists.LinkinPark"
            android:label="Linkin Park" />
        <activity
            android:name=".Artists.ClassicRockArtists.BonJovi"
            android:label="Bon Jovi" />
        <activity
            android:name=".Genres.ClassicRock"
            android:label="Classic Rock" />
        <activity
            android:name=".Artists.ClassicRockArtists.Aerosmith"
            android:label="Aerosmith" />
        <activity
            android:name=".Artists.ClassicRockArtists.LedZeppelin"
            android:label="Led Zeppelin" />
        <activity
            android:name=".Artists.CountryArtists.TobyKeith"
            android:label="Toby Keith" />
        <activity
            android:name=".Artists.CountryArtists.LukeBryan"
            android:label="Luke Bryan" />
        <activity
            android:name=".Artists.CountryArtists.TimMcGraw"
            android:label="Tim McGraw" />
        <activity
            android:name=".Artists.AlternativeRockArtists.GreenDayAlbums.Dookie"
            android:label="Dookie" />
        <activity
            android:name=".Artists.JazzArtists.JohnColtrane"
            android:label="John Coltrane" />
        <activity
            android:name=".Artists.JazzArtists.JohnColtraneAlbums.ALoveSupreme"
            android:label="A Love Supreme" />
        <activity
            android:name=".Artists.JazzArtists.JohnColtraneAlbums.GiantSteps"
            android:label="Giant Steps" />
        <activity
            android:name=".Artists.JazzArtists.JohnColtraneAlbums.BlueTrain"
            android:label="Blue Train" />
        <activity
            android:name=".Artists.JazzArtists.LouisDanielArmstrong"
            android:label="Louis Daniel Armstrong" />
        <activity
            android:name=".Artists.JazzArtists.LouisArmstrongAlbums.LouisUnderTheStars"
            android:label="Louis Under the Stars" />
        <activity
            android:name=".Artists.JazzArtists.LouisArmstrongAlbums.LouisAndTheAngels"
            android:label="Louis and the Angels" />
        <activity
            android:name=".Artists.JazzArtists.LouisArmstrongAlbums.LouisArmstrongsTownHallConcert"
            android:label="Louis Armstrong&apos;s Town Hall Concert" />
        <activity android:name=".Artists.PopRockArtists.TaylorSwift" />
        <activity android:name=".Artists.PopRockArtists.KatyPerry" />
        <activity android:name=".Artists.PopRockArtists.JustinBieber" />
        <activity android:name=".Artists.JazzArtists.ChetBaker" />
        <activity android:name=".Artists.JazzArtists.ChetBakerAlbums.Chet" />
        <activity android:name=".Artists.JazzArtists.ChetBakerAlbums.SheWasTooGoodToMe" />
        <activity android:name=".Artists.JazzArtists.ChetBakerAlbums.ItCouldHappenToYou" />
        <activity android:name=".Artists.AlternativeRockArtists.GreenDayAlbums.Nimrod" />
        <activity android:name=".Artists.AlternativeRockArtists.GreenDayAlbums.AmericanIdiot" />
        <activity android:name=".Artists.AlternativeRockArtists.LinkinParkAlbums.HybridTheory" />
        <activity android:name=".Artists.AlternativeRockArtists.LinkinParkAlbums.Meteora" />
        <activity android:name=".Artists.AlternativeRockArtists.LinkinParkAlbums.MinutesToMidnight" />
        <activity android:name=".Artists.AlternativeRockArtists.PearlJameAlbums.Ten" />
        <activity android:name=".Artists.AlternativeRockArtists.PearlJameAlbums.Vitalogy" />
        <activity android:name=".Artists.AlternativeRockArtists.PearlJameAlbums.NoCode" />
        <activity android:name=".Artists.ClassicRockArtists.BonJoviAlbums.NewJersey" />
        <activity android:name=".Artists.ClassicRockArtists.BonJoviAlbums.HaveANiceDay" />
        <activity android:name=".Artists.ClassicRockArtists.BonJoviAlbums.ThisHouseIsNotForSale" />
        <activity android:name=".Artists.ClassicRockArtists.AerosmithAlbums.ToysInTheAttic" />
        <activity android:name=".Artists.ClassicRockArtists.AerosmithAlbums.Pump" />
        <activity android:name=".Artists.ClassicRockArtists.AerosmithAlbums.GetAGrip" />
        <activity android:name=".Artists.ClassicRockArtists.LedZeppelinAlbums.LedZeppelin" />
        <activity android:name=".Artists.ClassicRockArtists.LedZeppelinAlbums.PhysicalGraffiti" />
        <activity android:name=".Artists.ClassicRockArtists.LedZeppelinAlbums.Presence" />
        <activity android:name=".Artists.CountryArtists.LukeBryanAlbums.KillTheLights" />
        <activity android:name=".Artists.CountryArtists.LukeBryanAlbums.TailgatesAndTanlines" />
        <activity android:name=".Artists.CountryArtists.LukeBryanAlbums.WhatMakesYouCountry" />
        <activity android:name=".Artists.CountryArtists.TimMcGrawAlbums.LetItGo" />
        <activity android:name=".Artists.CountryArtists.TimMcGrawAlbums.TwoLanesOfFreedom" />
        <activity android:name=".Artists.CountryArtists.TimMcGrawAlbums.SundownHeavenTown" />
        <activity android:name=".Artists.CountryArtists.TobyKeithAlbums.BulletsInTheGun" />
        <activity android:name=".Artists.CountryArtists.TobyKeithAlbums.BigDogDaddy" />
        <activity android:name=".Artists.CountryArtists.TobyKeithAlbums.ClancysTavern"></activity>
    </application>

</manifest>