<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u_n_v.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArtistAdapters.Artists$ClassicRock" />
        <activity android:name=".Genres.JazzActivity" />
        <activity android:name=".Genres.AlternativeRock" />
        <activity android:name=".Genres.Country" />
        <activity android:name=".Genres.Rap" />
        <activity android:name=".Genres.PopRock" />
        <activity android:name=".Genres.Soundtracks" />
        <activity android:name=".Artists.AlternativeRockArtists.GreenDay" />
        <activity android:name=".Artists.AlternativeRockArtists.PearlJam" />
        <activity android:name=".Artists.AlternativeRockArtists.LinkinPark" />
        <activity android:name=".Artists.ClassicRockArtists.BonJovi" />
        <activity android:name=".Genres.ClassicRock" />
        <activity android:name=".Artists.ClassicRockArtists.Aerosmith" />
        <activity android:name=".Artists.ClassicRockArtists.LedZeppelin" />
        <activity android:name=".Artists.CountryArtists.TobyKeith" />
        <activity android:name=".Artists.CountryArtists.LukeBryan" />
        <activity android:name=".Artists.CountryArtists.TimMcGraw" />
        <activity android:name=".Artists.AlternativeRockArtists.GreenDayAlbums.Dookie" />
        <activity android:name=".TestActivity" />
        <activity android:name=".Artists.JazzArtists.JohnColtrane" />
        <activity android:name=".Artists.JazzArtists.JohnColtraneAlbums.ALoveSupreme" />
        <activity android:name=".Artists.JazzArtists.JohnColtraneAlbums.GiantSteps" />
        <activity android:name=".Artists.JazzArtists.JohnColtraneAlbums.BlueTrain" />
        <activity android:name=".Artists.JazzArtists.LouisDanielArmstrong" />
        <activity android:name=".Artists.JazzArtists.LouisArmstrongAlbums.LouisUnderTheStars" />
        <activity android:name=".Artists.JazzArtists.LouisArmstrongAlbums.LouisAndTheAngels" />
        <activity android:name=".Artists.JazzArtists.LouisArmstrongAlbums.LouisArmstrongsTownHallConcert"></activity>
    </application>

</manifest>